bin
obj
/statics
/nuget
/emsdk

/FNA
/MonoMod
/NLua
/SteamKit2.WASM

/node_modules
/frontend/public/_framework
/frontend/public/content
/frontend/dist

.env.local
.DS_Store

/celeste-wasm-server
/server/cache
