<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="fmod" os="linux" target="libfmod.so.10"/>
	<dllmap dll="fmod" os="osx" target="libfmod.dylib"/>
	<dllmap dll="fmodstudio" os="linux" target="libfmodstudio.so.10"/>
	<dllmap dll="fmodstudio" os="osx" target="libfmodstudio.dylib"/>
</configuration>
