html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}
.hcenter {
  justify-content: center;
}
.vcenter {
  align-items: center;
}
.gap {
  gap: 1.5em;
}
